.carusel {
    /* margin-bottom: 78px; */
}

.carusel_header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 28px;
}

.carusel_title h1,
.carusel_title h2,
.carusel_title h3,
.carusel_title h3,
.carusel_title h5,
.carusel_title h6 {
    font-weight: 700;
    font-size: 36px;
    line-height: 125%;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 0px;
}

.carusel_view_more,
.carusel_view_more:hover {
    text-decoration: underline;
    color: rgba(var(--text-color), 1);
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 145%;
    cursor: pointer;
}

.carusel-item{
    cursor: pointer;
}

.slider-container {
    margin: 0 -15px !important;
}

.carusel-item-image {

    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.carusel-item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 145%;
    margin-top: 20px;
    margin-bottom: 6px;
}

.carusel-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 145%;
    margin-bottom: 6px;

    /* margin: 0; */
    /* Убираем внешний отступ */
    -webkit-line-clamp: 3;
    /* Число отображаемых строк */
    display: -webkit-box;
    /* Включаем флексбоксы */
    -webkit-box-orient: vertical;
    /* Вертикальная ориентация */
    overflow: hidden;
}

.carusel-item-subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 145%;
}

.carusel-next-button {
    position: absolute;
}

@media (max-width: 1200px) {
    .carusel_view_more {
        display: none;
    }

    .carusel_title h2 {
        font-weight: 700;
        font-size: 16px;
        line-height: 125%;
    }

    .carusel_header {
        margin-bottom: 6px;
    }

    .carusel-next-button {
       display: none;
    }

    .slider-container {
        margin: 0 -10px 0 -10px !important;
      }
}
