.courses_constructor_page_action_buttons {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 30px;
}

.courses_constructor_page_input {
    font-size: 16px;
    line-height: 130%;
    padding: 5px 10px;
    font-family: 'Montserrat';
}

.courses_constructor_page_input::placeholder {
    font-size: 16px;
    line-height: 130%;
}

.courses_constructor_lessons_list_container {
    border: 1px solid rgba(var(--border-color), 1);
    border-radius: 10px;
}

.courses_constructor_lessons_list_title {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid rgba(var(--border-color), 1);
}

.courses_constructor_lessons_list {
    gap: 0px
}

.courses_constructor_lessons_empty_list {
    padding: 10px;
}

.courses_constructor_lessons_list_item {
    border-radius: 0;
}

.courses_constructor_lessons_editor {
    margin: 30px 0px;
    border-top: 1px solid rgba(var(--border-color), 1);
}

.courses_constructor_lessons_editor_actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.courses_constructor_lessons_editor_actions button {
    width: auto;
}

.courses_constructor_lessons_test_editor_actions {
    margin-top: 30px;
    border-top: 1px solid rgba(var(--border-color), 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.courses_constructor_question_title {
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses_constructor_question_title_actions {
    flex: 1 0 auto;
    text-align: right;
}

.courses_constructor_lessons_test_editor_actions button, .courses_constructor_question_editor_from_actions button {
    width: auto;
}


.courses_constructor_questions_answers {
    margin-top: 5px;
}

.courses_constructor_questions_answers .courses_constructor_questions_answer_item:not(:last-child) {
    margin-bottom: 5px;
}

.courses_constructor_questions_answer_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.courses_constructor_questions_answer_title {
    display: flex;
}


.courses_constructor_question_editor_from {
    border: 1px solid rgba(var(--border-color), 1);
    margin: 10px 0px;

    border-radius: 10px;
}

.courses_constructor_question_editor_from_title {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid rgba(var(--border-color), 1);
}

.courses_constructor_question_editor_from_container{
    padding: 10px;
}

.courses_constructor_question_editor_from_actions{
    border-top: 1px solid rgba(var(--border-color), 1);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:10px;
}


.courses_constructor_page_input_group_text {
    font-size: 16px;
    line-height: 130%;
    padding: 5px 10px;
    font-family: 'Montserrat';
}
