.login_page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login_page_form{
    max-width: 500px;
}

@media (max-width: 1200px) {
    .login_page_form{
        max-width: 100%;
    }
}