<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Диплом об окончании курса</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        rel="stylesheet">
    <link href="assets/css/index.css" rel="stylesheet">
</head>

<body>
    <div class="diplom_container">
        <img class="diplom_bg" width="100%" height="100%" src="./assets/img/bg.png">
        <div style="margin-bottom: 130px;">
            <h1 class="diplom_title">диплом</h1>
            <div class="diplom_text" style="margin-bottom: 15px;">об окончании курса</div>
            <div class="diplom_course_name">«Название курса»</div>
        </div>
        <div style="margin-bottom: 100px;">
            <div class="diplom_text" style="text-align: end; margin-bottom: 15px;">награждается</div>
            <div class="diplom_user_name">Фамилия<br>Имя</div>
        </div>
        <div class="diplom_regalies">
            <img width="72px" height="100%" src="./assets/img/icon.png">
            <div class="diplom_regalies_text_container">

                <div class="diplom_regalies_text">директор РТЦ<br>«Голос надежды»</div>
                <div class="diplom_regalies_text">Рустем<br>Мухаметвалеев</div>

            </div>
        </div>
        <div class="diplom_footer">
            <div style="width: 72px; height: 72px;"></div>
            <div class="diplom_regalies_text_container">
                <div>25 мая 2023</div>
                <div>
                    <img width="100px" height="100%" src="./assets/img/mark.png">
                </div>
            </div>
        </div>
    </div>
</body>

</html>