.share{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 15px;
    /* justify-content: space-between; */
}
.share-link {
    padding: 10px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    box-shadow: rgba(var(--text-color), 0.2) 0px 4px 14px;
    border-radius: 50% !important;
    transition: all ease-in-out .25s;
    z-index: 100000;
    background: #fff;
}

.share-link:hover{
    box-shadow: rgba(var(--text-color), 0.25) 0px 4px 19px 0px;
}

.share-link img{
    width: 100%;   
    object-fit: contain;
}
